@media only screen and (max-width: 320px){

    .main-banner{
        padding: 50px 12px 40px;
    }
    .header-banner h1{
        font-size: 35px;
        line-height: 40px;
        padding: 25px 10px;
    }

    .header-banner h3 {
        font-size: 28px;
        line-height: 30px;
    }
}