#preloader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 99999999;
}

#status{
    width: 220px;
    height: 220px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../images/small-cups.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    opacity: 0;
}

.fade-in-out{
    animation: fade-in-out 1s linear forwards;
}

@keyframes fade-in-out{
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-moz-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-webkit-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-o-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-ms-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

.navbar-style{
    background: #ffe11d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c4499c, #ffe11d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c4499c, #ffe11d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav{
    transition: background .5s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
}
.main-nav .navbar{
    margin-bottom: 0;
    padding: 10px 15px;
}

.main-nav .navbar-brand{
    width: 150px;
    height: auto;
    padding: 0;
    margin-top: 5px;
}

.main-nav .navbar-nav>li>a{
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-nav .navbar-nav>li>a:hover{
    color: #ffffff;
}

.main-nav .navbar-nav>li>a:focus{
    color: #f32D3A;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover{
    color: #F32D3A !important;
    background: transparent;
}

.main-banner {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    padding: 180px 0 140px;
    background: url("../images/gallery.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.main-banner .header-banner{
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
}

.header-banner h1{
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 60px;
}

.header-banner h3{
    color: #f32D3A;
    margin-bottom: 15px;
}

.header-banner h4{
    color: white;
    margin-bottom: 20px;
}
