#preloader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 99999999;
}

#status{
    width: 220px;
    height: 220px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../images/small-cups.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    opacity: 0;
}

.fade-in-out{
    animation: fade-in-out 2s linear forwards;
}

@keyframes fade-in-out{
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-moz-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-webkit-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-o-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-ms-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}