html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}
#preloader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 99999999;
}

#status{
    width: 220px;
    height: 220px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../images/small-cups.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    opacity: 0;
}

.fade-in-out{
    animation: fade-in-out 1s linear forwards;
}

@keyframes fade-in-out{
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-moz-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-webkit-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-o-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

@-ms-keyframes fade-in-out {
    0%, 100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}

.navbar-style{
    background-color: rgba(0, 0, 0, 1);  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #c4499c, #ffe11d);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #c4499c, #ffe11d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: background-color 250ms ease-in;
}

.navbar-transparent-style{
    background-color: transparent;
    transition: background-color 280ms ease-out;
}

.main-nav .navbar{
    margin-bottom: 0;
    padding: 10px 15px;
}

.main-nav .navbar-brand{
    width: 150px;
    height: auto;
    padding: 0;
    margin-top: 5px;
}

.main-nav .navbar-nav>li>a{
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-nav .navbar-nav>li>a:hover{
    color: #ffffff;
}

.main-nav .navbar-nav>li>a:focus{
    color: #f32D3A;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover{
    color: #F32D3A !important;
    background: transparent;
}

section{
    padding: 80px 0 80px;
    position: relative;
}

.main-banner {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    padding: 110px 0 110px;
    background: url("../images/gallery.jpg") no-repeat center;
    background-size: cover;
}

.header-banner{
    padding: 20px 10px 20px 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius:30px;
}

.header-banner h1{
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 60px;
}

.header-banner h3{
    color: #f32D3A;
    margin-bottom: 15px;
}

#clockdiv{
    font-family: sans-serif;
    color: white;
    display: inline;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv div{
    padding: 10px;
    border-radius: 5px;
    background: rgba(13,17,13,0.94);
    display: inline-block;
}

#clockdiv div span{
    padding: 15px;
    border-radius: 3px;
    background: grey;
    display: inline-block;
}

#clock-message{
    padding-top: 5px;
    font-size: 16px;
}

.fading-in{
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.fading-in.appear{
    opacity: 1;
}

.from-left{
    transform: translateX(-80%);
}

.from-right{
    transform: translateX(80%);
}

.from-left, .from-right{
    transition: transform 450ms ease-in;
}

.from-left.appear, .from-right.appear{
    transform: translateX(0);
}

#invitation{
    padding: 65px;
    margin: auto;
    width: 90%;
    border-style: solid;
    border-color: deeppink purple orange rgba(255,232,17,0.94);
    border-width: 8px;
}

#invitation h3{
    margin-left: 25%;
}

#rsvp{
    margin-left: 45%;
    margin-top: 25px;
}

#eventbrite-widget-container-79932912493, #hide-tickets{
    display:none;
}


